
.container {
    padding: 0 1em;
    display: grid;
    gap: 1em;
    margin: 5em auto;
}

button {
    background: royalblue;
    border: none;
    padding: .5em;
    border-radius: 5px;
    color: #fff;
    width: 50px;
    height: 30px;
}

.card {
    border: black 1px 1px 1px;
    display: flex;
    gap: 1em;
    background-color: #222;
    padding: 1em;
    color: #fff;
    border-radius: 5px;
}

.card .body {
    display: grid;
    gap: .5em;
}

.card .name {
    font-weight: bold;
}

.card .description {
    font-size: medium;
    width: 100vh;
}

.card button {
    width: 200px;
    cursor: pointer;
}

.img {
    width: 500px;
    height: 300px;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.514) 2px 2px 1px;
}
